<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Home</a></li>
  <li><a href="#!">Feed</a></li>
  <li><a href="#!">History</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><i class="material-icons">home</i></a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1"><i
            class="material-icons medium right">dehaze</i></a>
      </li>
    </ul>
  </div>
</nav>
<h1 id="history-header">History Page</h1>
<div class="container" id="historyContainer">
  <!-- #each to create new row and column displaying date -->
  <div class="row history-row">
    <div class="column s12">
      <div class="historydate">
        <p>1/28/2021</p>
      </div>
    </div>
  </div>
  <div class="row history-row">
    <div class="column s12">
      <div class="historydate">
        <p>1/27/2021</p>
      </div>
    </div>
  </div>
  <div class="row history-row">
    <div class="column s12">
      <div class="historydate">
        <p>1/26/2021</p>
      </div>
    </div>
  </div>
</div>