<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>memoryBank</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">Home</a></li>
      <li><a href="#!">Feed</a></li>
      <li><a href="#!">History</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i class="material-icons">home</i></a>
        <ul class="right hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          <li>
            <a class="dropdown-trigger" href="#!" data-target="dropdown1"
              ><i class="material-icons medium right">dehaze</i></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <h1 id="history-header">History Page</h1>
    <div class="container" id="historyContainer">
      <!-- #each to create new row and column displaying date -->
      <div class="row history-row">
        <div class="column s12">
          <div class="historydate">
            <p>1/28/2021</p>
          </div>
        </div>
      </div>
      <div class="row history-row">
        <div class="column s12">
          <div class="historydate">
            <p>1/27/2021</p>
          </div>
        </div>
      </div>
      <div class="row history-row">
        <div class="column s12">
          <div class="historydate">
            <p>1/26/2021</p>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/create.js"></script>
  </body>
</html>
