<header>
  <h1>Horoscope Tracker</h1>
</header>
<div class="container" id="homeContainer">
  <div class="buttons">
    <a class="waves-effect waves-light btn" id="loginBtn">Login</a>
    <br />
    <br />
    <a class="waves-effect waves-light btn" id="createBtn">Create Account</a>
  </div>
</div>