<div class="containerDiv">

<div class="container circleContainer" id="homeContainer">
  <h1 class ="defaultH1">MemoryBank</h1>
  <div class="buttons">
    <a class="waves-effect waves-light btn" id="loginBtn">Login</a>
    <br />
    <br />
    <a class="waves-effect waves-light btn" id="createBtn">Create Account</a>
  </div>
</div>
</div>