<div class="containerDiv">

<div class="container circleContainer" id = "loginContainer" >
  <h1 class = "defaultH1">Login</h1>
  <div class="row login-row" id="mainLoginRow">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 login-input">
          <input id="username" type="text" class="validate" />
          <label for="username">Username</label>
        </div>
      </div>
  </div>
  <div class="row login-row">
    <div class="input-field col s12 login-input">
      <input id="password" type="password" class="validate" />
      <label for="password">Password</label>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn" id="loginToAccountBtn">Login</a>
    </div>
    </form>
  </div>
</div>
</div>