<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a id= "history" href="/history">History</a></li>
    <li><a id ="feed" href="#!">Feed</a></li>
    <li><a id="signout" href="/">Signout</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
         <a href="/home" class="brand-logo"> <i class="material-icons">home</i></a>
        <ul class="right hide-on-med-and-down">

            <!-- Dropdown Trigger -->
            <li>
                <a class="dropdown-trigger" href="/home" data-target="dropdown1">
                    <i class="material-icons right">dehaze</i></a></li>
        </ul>
    </div>
</nav>
<div class="container" id="welcomeContainer">

<h1 id="welcomeH1">Welcome {{first_name}}</h1>

<div id="hororscopeForDay">
    <p>Today's Date and Horrorscope. Placeholder text below</p>
    <p>{{description}}</p>
</div>

<div id="otherLuckyInfo">
    <p>Lucky color, lucky number, lucky time, compatibility with other signs. Placeholder text below</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur pariatur perspiciatis deleniti debitis
        distinctio maxime minus iure, impedit placeat voluptate quia eius nulla unde vel ex incidunt temporibus
        repellendus excepturi.</p>
</div>
<br>
<br>
<br>

<div id="uploadArea">
    <a class="waves-effect waves-light btn" id="memory">Upload Memory Picture</a>
</div>

<br>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" rows = "3" cols = "80"></textarea>
                <label for="textarea1">Write your Journal Entry Here!</label>
            </div>
        </div>
    </form>
</div>

<div id="submitButton">
    <a class="waves-effect waves-light btn" id="submit">Submit</a>
</div>
</div>