.body {
  background: url("https://wallpaperaccess.com/full/1113864.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
/* Default styling for header and h1 */
.defaultHeader {
  background-color: white;
  margin: 0 auto;
  margin-top: 4%;
  border-radius: 25px;
  width: 40vw;
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDiv {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Login/Create homepage */
.defaultH1 {
  margin: 0%;

  font-family: "Dancing Script", cursive;
}

.circleContainer {
  background-color: white;
  border-radius: 50%;
  height: 50vh;
  width: 50vh;
  padding-top: 8%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLAqI9gsj8525IrLMtZo1ZtfMYP5dXUk9mEg&usqp=CAU");
  background-position: center;
  background-size: cover;
}
/* INDEX STYLE */
.indexDiv,
.loginDiv {
  display: block;
}

.buttons {
  margin-top: 4%;
}

/* Create Account */

#createContainer {
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  background-color: white;
  text-align: center;
  border-radius: 50px;
}

#createH1 {
  margin-bottom: 1%;
}

/* Login Page */

#mainLoginRow {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  padding: 0%;
  height: 170px;
  margin: 0%;
  margin-bottom: 2%;
  color: black;
}
.labelColor {
  color: black !important;
}
.usernameRow {
  margin: 0%;
  color: black;
}

.login-input {
  color: white;
}

/* History page */
#history-header {
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0%;
  margin-top: 5%;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.nav-wrapper {
  padding-left: 2vw;
  background-color: #26a69a;
}

#historyContainer {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.349);
  margin-bottom: 10%;
}

/* User homepage */

#hororscopeForDay,
#otherLuckyInfo {
  text-align: center;
  border: solid;
  border-width: thin;
  margin: 1vw;
}

#uploadArea,
#submitButton {
  text-align: center;
}

#memory,
#submit {
  background-color: rgb(245, 125, 78);
}

#editButton {
  text-align: right;
}

#deleteButton {
  text-align: left;
}

#edit,
#delete {
  background-color: rgb(245, 125, 78);
}

.welcomeContainer {
  background: white;
}

/* SWITCH MODE */

.navDark {
  background-color: black;
}

.navLight {
  background-color: #26a69a;
}

.containerLight {
  background: white;
  color: black;
}

.containerDark {
  background: black;
  color: white;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

/* Cards */
.card-row {
  margin: 0 auto;
}
.card-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  width: 300px;
}

.card-title {
  font-size: 15px !important;
}
