.body {
  background: url("https://wallpaperaccess.com/full/1113864.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
/* Default styling for header and h1 */
.defaultHeader {
  background-color: white;
  margin: 0 auto;
  margin-top: 4%;
  border-radius: 25px;
  width: 40vw;
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4vw;
}

#journal_entry {
  color: black;
}

h5 {
  text-align: center;
}

.switch,
#mode {
  text-align: right;
}
/* TODO: Fix dark mode by referencing this */
#title {
  color: black;
  text-align: left;
  /* font-style: italic; */
  font-family: "apple chancery";
}

.containerDiv {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Login/Create homepage */
.defaultH1 {
  margin: 0%;
  font-family: "Dancing Script", cursive;
}

.circleContainer {
  background-color: white;
  border-radius: 50%;
  height: 50vh;
  width: 50vh;
  padding-top: 8%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLAqI9gsj8525IrLMtZo1ZtfMYP5dXUk9mEg&usqp=CAU");
  background-position: center;
  background-size: cover;
}
/* INDEX STYLE */
.indexDiv,
.loginDiv {
  display: block;
}

.buttons {
  margin-top: 4%;
}

/* Create Account */

#createContainer {
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  background-color: white;
  text-align: center;
  border-radius: 50px;
}

#createH1 {
  margin-bottom: 1%;
}

/* Login Page */

#mainLoginRow {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  padding: 0%;
  height: 170px;
  margin: 0%;
  margin-bottom: 2%;
  color: black;
}
.labelColor {
  color: black !important;
}
.usernameRow {
  margin: 0%;
  color: black;
}

.login-input {
  color: white;
}

/* History page */
#history-header {
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0%;
  margin-top: 2%;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.nav-wrapper {
  padding-left: 2vw;
  background-color: white;
}

.dropdown-trigger,
.material-icons {
  color: black;
}

.zodiacBtn {
  color: white;
}
#historyContainer {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.144);
  margin-bottom: 10%;
  margin-top: 5%;
  height: 80vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

/* User homepage */

#hororscopeForDay,
#otherLuckyInfo {
  text-align: center;
  /* border: solid;
  border-width: thin;
  margin: 1vw; */
}

#uploadArea,
#submitButton {
  text-align: center;
}

#memory,
#submit {
  margin-bottom: 2vw;
}

#editButton {
  text-align: right;
}

#deleteButton {
  text-align: left;
}

.welcomeContainer {
  background: rgba(255, 255, 255, 0.925);
  margin-top: 2vw;
  padding-top: 0;
  border-radius: 25px;
  padding-right: 2vw;
  padding-left: 2vw;
}

#welcomeH1 {
  text-align: right;
}

hr {
  width: 80%;
}

#imageUpload {
  text-align: center;
  padding-bottom: 2vw;
}

#cloudinaryUpload {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 800px;
}

#resubmitButton {
  text-align: right;
}

#deleteButton {
  text-align: left;
}

#upload_widget {
  background-color: #26a69a;
}

#upload_picture {
  text-align: right;
}

#deleteButton2 {
  text-align: left;
}

#deleteEntry {
  background-color: rgb(230, 32, 32);
}

#deletePhoto {
  background-color: rgb(230, 32, 32);
}

/* SWITCH MODE */

.navDark {
  background-color: black;
}

.navLight {
  background-color: white;
}

.containerLight {
  background: rgba(255, 255, 255, 0.925);
  color: black;
}

.containerDark {
  background: rgba(0, 0, 0, 0.582);
  color: white;
}

/* .titleDark {
  color: white;
}

.titleLight {
  color: black;
} */

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#pubPriv {
  text-align: center;
  padding-bottom: 2vw;
}

/* #search {
  color: white;
  background-color: black;
} */

/* Cards */
.card-row {
  margin: 0 auto;
  margin-bottom: 3%;
}
.card-div {
  display: flex;
  justify-content: center;
}
.card {
  width: 600px;
}

.card-title {
  margin-left: 89%;
  margin-bottom: 20%;
}

.clear-btn {
  width: 20px !important;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right {
  margin-left: 89%;
  margin-bottom: 90%;
}

.material-icons {
  margin: 0% !important;
}

.p-entry {
  word-break: break-all;
}

.follow-card {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
#follow {
  margin-bottom: 3%;
}
#follow-card-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .navbar-css1 {
    display: flex;
    justify-content: left;
  }
  .navbar-css2 {
    display: flex;
    justify-content: center;
  }
  .navbar-css3 {
    display: flex;
    justify-content: right;
  }
  .follow-card {
    width: 80%;
  }
  #follow-card-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #follow {
    margin-bottom: 4%;
  }
}
